{{#block "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" crossorigin="anonymous" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{#block "title"}}<title>Hero Squad</title>{{/block}}
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/heroes/new">Add a Hero</a></li>
    <li role="presentation" class="dropdown show">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Squads List <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{#if squads}}
                {{#each squads}}
                    <li><a href="/squads/{{id}}">{{name}}</a></li>
                {{/each}}
                <li><a href="/squads/new">Add a Squad</a></li>

            {{else}}
                <li><a href="/squads/new">Add a Squad</a></li>
            {{/if}}
        </ul>
    </li>
    <li role="presentation"><a href="/wars">Squad Wars!</a></li>
</ul>
{{/block}}
<div class="container">
    {{#block "content"}}

    {{/block}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>