{{#partial "content"}}

        <div class="row">
            <div class="col-md-6">
                <img src="https://cdn.clipart.email/cdd403c9477276a2b2f66b95c11cf4ac_flying-superhero-silhouette-at-getdrawingscom-free-for-personal-_327-522.png" width="100%" height="auto" alt="superhero">
            </div>
            <div class="animated zoomIn">
            <div class="col-md-6">
                <h3>Add a Hero</h3>
                <br>
            <form action="/heroes" method="post">
                {{#if squads}}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="age">AGE</label>
                        <input type="number" min="0" name="age" id="age" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Super power</label>
                        <input type="text" name="superPower" id="superPower" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">Weakness</label>
                        <input type="text" name="weakness" id="weakness" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="squadId">Assign to squad</label>
                        <select id="squadId" name="squadId" class="form-control">
                            {{#each squads}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-info">SUBMIT</button>
                        <p><a href="/squads/new">Or, Add your squad</a></p>
                    </div>
                {{else}}
                    <h3>But first, Create a <a href="/squads/new">Squad</a></h3>
                </form>
                {{/if}}
            </div>
        </div>

    </div>


{{/partial}}
{{>layout.hbs}}