

{{#partial "content"}}
    <h3>Add a squad</h3>
    <div class="animated bounceInLeft">
        <form action="/squads" method="post">
            <div class="form-group">
                <label for="name">Squad Name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="age">Size</label>
                <input type="number" min="0" name="size" id="size" class="form-control">
            </div>
            <div class="form-group">
                <label for="name">Cause</label>
                <input type="text" name="superPower" id="superPower" class="form-control">
            </div>
            <button type="submit" class="btn btn-info">SUBMIT</button>
        </form>
    </div>


    <h5> <a href="/">Go back</a></h5>
{{/partial}}
{{>layout.hbs}}