{{#partial "content"}}
    <div class="row">
    <div class="col-md-6">
        <img src="https://cdn.clipart.email/cbbc052dbda8c7485d1a4f618b785064_dance-silhouettes-related-keywords-suggestions-dance-inc-_439-800.png" alt="">
    </div>
        <div class="col-md-6">
            <div class="animated wobble">
                <h3> <strong>COMING SOON!!!!!!!</strong> </h3>
            </div>
            <h4><a href="/">Go back</a></h4>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}